.edit-profile {
    background: #ffffff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    max-width: 800px;
    position: relative;
    z-index: 1;
  }

  .edit-profile .form-control {
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f9f9f9;
    color: #333;
  }

  .edit-profile .btn-primary {
    background-color: #68263D;
    border-color: #68263D;
    color: white;
  }

  .edit-profile .btn-primary:hover {
    background-color: #68263D;
    border-color: #68263D;
  }
